<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 아이디 이용 한건 조회  -->
	<select id="selectOne" resultType="MemberDTO">
		SELECT * FROM member
		WHERE userid = #{userid}
	</select>
	
	<!-- 회원가입  -->
	<insert id="insert">
		INSERT INTO member VALUES(#{userid},#{passwd},#{email},#{filename})
	</insert>
	
	<!-- 회원정보 수정  -->
	<update id="update">
		UPDATE member
		SET email = #{email},
		filename = #{filename}
		WHERE userid = #{userid}
	</update>
	
	<!-- 회원 탈퇴  -->
	<delete id="delete">
		DELETE FROM member
		WHERE userid = #{userid}
	</delete>
	
	<!-- 비밀번호 변경  -->
	<update id="changePW">
		UPDATE member
		SET passwd = #{passwd}
		WHERE userid = #{userid}
	</update>
</mapper>