<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bankAMapper">
  <insert id="insert" parameterType="BankDTO">
  	insert into banka values (
		(select nvl(max(seq)+1,1) from banka) , #{input}, #{output})
  </insert>
</mapper>